@{
    ViewBag.Title = "List";
}
@model System.Data.DataTable
<form method="post" >
@Html.AntiForgeryToken()
<div class="querybar">
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
            <td>
                标题：<input type="text" class="mytext" id="Title" name="Title" value="@ViewBag.Title1" style="width:180px" />
                <input type="submit" name="Search" value="查询" class="mybutton" />
            </td>
        </tr>
    </table>
</div>
<table cellpadding="0" cellspacing="1" border="0" class="listtable">
    <thead>
        <tr>
            <th>标题</th>
            <th>流程</th>
            <th>步骤</th>
            <th>归档时间</th>
        </tr>
    </thead>
    <tbody>
    @{
    foreach (System.Data.DataRow dr in Model.Rows)
    {
        
        <tr>
            <td><a href="javascript:show('@dr["ID"]');" class="blue">@dr["Title"]</a></td>
            <td>@dr["FlowName"]</td>
            <td>@dr["StepName"]</td>
            <td>@dr["WriteTime"]</td>
        </tr>
    }    
    }
    </tbody>
</table>
<div class="buttondiv">@Html.Raw(ViewBag.Pager)</div>
</form>

<script type="text/javascript">
    var appid = '@ViewBag.appid';
    var iframeid = '@ViewBag.tabid';
    var typeid = '@ViewBag.typeid';
    var dialog = top.mainDialog;
    function show(id)
    {
        dialog.open({
            id: "window_" + appid.replaceAll('-', ''), title: "查看归档内容", width: 980, height: 500,
            url: 'WorkFlowArchives/Show?id=' + id + '@ViewBag.Query1', openerid: iframeid
        });
    }
</script>
