@{
    Layout = "~/_SiteLayout.cshtml";

    Business.Platform.Log blog = new Business.Platform.Log();

    string title = string.Empty;
    string type = string.Empty;
    string date1 = string.Empty;
    string date2 = string.Empty;
    string userid = string.Empty;

    
    
    if(IsPost)
    {
        title = Request.Form["Title"];
        type = Request.Form["Type"];
        date1 = Request.Form["Date1"];
        date2 = Request.Form["Date2"];
        userid = Request.Form["UserID"];
    }
    else
    {
        title = Request.QueryString["Title"];
        type = Request.QueryString["Type"];
        date1 = Request.QueryString["Date1"];
        date2 = Request.QueryString["Date2"];
        userid = Request.QueryString["UserID"];
    }

    string query = string.Format("&appid={0}&tabid={1}&Title={2}&Type={3}&Date1={4}&Date2={5}&UserID={6}",
        Request.QueryString["appid"],
        Request.QueryString["tabid"],
        title.UrlEncode(),
        type.UrlEncode(),
        date1,
        date2,
        userid
        );
    string pager;
    System.Data.DataTable dt = blog.GetPagerData(out pager, query, title, type, date1, date2, userid);
    string typeOptions = blog.GetTypeOptions(type);
    
}
<form action="" method="post" >
<div class="querybar">
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
            <td>
                标题：<input type="text" class="mytext" id="Title" name="Title" value="@title" />
                分类：<select class="myselect" id="Type" name="Type"><option value="">==全部==</option>@Html.Raw(typeOptions)</select>
                人员：<input type="text" user="true" dept="false" value="@userid" station="false" unit="false" more="false" group="false" id="UserID" name="UserID" class="mymember" />
                发生日期：<input type="text" class="mycalendar" name="Date1" style="width:90px;" value="@date1" /> 至 <input type="text" class="mycalendar" name="Date2" style="width:90px;" value="@date2" />
                <input type="submit" name="Search" value="查询" class="mybutton" />
            </td>
        </tr>
    </table>
</div>
<table cellpadding="0" cellspacing="1" border="0" width="100%" class="listtable">
    <thead>
        <tr>
            <th>标题</th>
            <th>分类</th>
            <th>发生时间</th>
            <th>操作员</th>
            <th>IP</th>
            <th>详细</th>
        </tr>
    </thead>
    <tbody>
    @foreach (System.Data.DataRow dr in dt.Rows)
    {
        <tr>
            <td title="@dr["Title"]">@dr["Title"].ToString().CutString(100)</td>
            <td>@dr["Type"]</td>
            <td>@dr["WriteTime"]</td>
            <td>@dr["UserName"]</td>
            <td>@dr["IPAddress"]</td>
            <td><a class="viewlink" href="javascript:void(0);" onclick="detail('@dr["ID"]');return false;">查看</a></td>
        </tr>
    }
    </tbody>
</table>
<div class="buttondiv">@Html.Raw(pager)</div>
</form>
<script type="text/javascript">
    var appid = '@Request.QueryString["appid"]';
    var iframeid = '@Request.QueryString["tabid"]';
    var dialog = top.mainDialog;
    function detail(id)
    {
        dialog.open({ id: "window_" + appid.replaceAll('-', ''), title: "查看日志详细信息", width: 850, height: 450, url: "/Platform/Log/Detail?id=" + id + '@query', openerid: iframeid });
    }
</script>