@{
    Layout = "~/_SiteLayout.cshtml";

    string id = Request.QueryString["id"];
    if(!id.IsGuid())
    {
        Response.Write("参数错误");
        Response.End();
    }
    Data.Model.Log log = new Business.Platform.Log().Get(id.ToGuid());
    if(log==null)
    {
        Response.Write("未找到对应的日志记录");
        Response.End();
    }
}
    <form action="">
    <br />
    <table cellpadding="0" cellspacing="1" border="0" width="99%" class="formtable">
        <tr>
            <th style="width:100px;">日志标题：</th>
            <td style="word-break:break-all;">@log.Title</td>
        </tr>
        <tr>
            <th>日志类型：</th>
            <td>@log.Type</td>
        </tr>
        <tr>
            <th>发生时间：</th>
            <td>@log.WriteTime</td>
        </tr>
        <tr>
            <th>操作人员：</th>
            <td>@log.UserName</td>
        </tr>
        <tr>
            <th>发生IP：</th>
            <td>@log.IPAddress</td>
        </tr>
        <tr>
            <th>操作地址：</th>
            <td style="word-break:break-all;">@log.URL</td>
        </tr>
        <tr>
            <th>客户端信息：</th>
            <td>@log.Others</td>
        </tr>
        <tr>
            <th>日志内容：</th>
            <td style="word-break:break-all;">@log.Contents</td>
        </tr>
    </table>
    </form>
    <div class="buttondiv">
        <input type="button" class="mybutton" value="关闭窗口" style="margin-left:5px;" onclick="new RoadUI.Window().close();" />
    </div>