@{
    Layout = "~/_SiteLayout.cshtml";

    Business.Platform.AppLibrary bappLibrary = new Business.Platform.AppLibrary();
    Business.Platform.RoleApp broleApp=new Business.Platform.RoleApp();
    Data.Model.RoleApp roleApp=null;
    
    

    string id = Request.QueryString["id"];

    string name = string.Empty;
    string type = string.Empty;
    string appid = string.Empty;
    string params1 = string.Empty;
    
    Guid appID;
    if(id.IsGuid(out appID))
    {
        roleApp = broleApp.Get(appID);
        if(roleApp!=null)
        {
            name = roleApp.Title;
            type = roleApp.AppID.HasValue ? bappLibrary.GetTypeByID(roleApp.AppID.Value) : "";
            appid = roleApp.AppID.ToString();
            params1 = roleApp.Params;
        }
    }

    Validation.RequireField("Name");
    
    if(IsPost && Validation.IsValid() && roleApp!=null)
    {
        if(!Request.Form["Save"].IsNullOrEmpty())
        {
            name = Request.Form["Name"];
            type = Request.Form["Type"];
            appid = Request.Form["AppID"];
            params1 = Request.Form["Params"];

            string oldXML = roleApp.Serialize();
            roleApp.Title = name.Trim();
            if(appid.IsGuid())
            {
                roleApp.AppID = appid.ToGuid();
            }
            else
            {
                roleApp.AppID = null;
            }
            roleApp.Params = params1.IsNullOrEmpty() ? null : params1.Trim();

            broleApp.Update(roleApp);
            broleApp.ClearAllDataTableCache();
            Business.Platform.Log.Add("修改了应用模板", "修改前：" + oldXML + "修改后：" + roleApp.Serialize(), Business.Platform.Log.Types.角色应用);
            string refreshID=roleApp.ParentID==Guid.Empty?roleApp.ID.ToString():roleApp.ParentID.ToString();
            <script type="text/javascript">
                parent.frames[0].reLoad('@refreshID');
                alert("保存成功!");
            </script>
        }

        if (!Request.Form["Delete"].IsNullOrEmpty())
        {
            int i = broleApp.DeleteAndAllChilds(roleApp.ID);
            broleApp.ClearAllDataTableCache();
            Business.Platform.Log.Add("删除了模板及其所有下级共" + i.ToString() + "项", roleApp.Serialize(), Business.Platform.Log.Types.角色应用);
            string refreshID = roleApp.ParentID == Guid.Empty ? roleApp.ID.ToString() : roleApp.ParentID.ToString();
            <script type="text/javascript">
                parent.frames[0].reLoad('@refreshID');
                window.location='Body?id=@refreshID&appid=@Request.QueryString["appid"]&tabid=@Request.QueryString["tabid"]';
            </script>
        }
    }

    string appTypesOptions = bappLibrary.GetTypeOptions(type);
}

    <form action="" method="post">
    <br />
    <table cellpadding="0" cellspacing="1" border="0" width="99%" class="formtable">
        <tr>
            <th style="width:80px;">应用名称：</th>
            <td><input type="text" id="Name" name="Name" class="mytext" value="@name" validate="empty" style="width:75%" /></td>
        </tr>
        <tr>
            <th style="width:80px;">关键程序：</th>
            <td><select id="Type" name="Type" onchange="loadApp(this.value);" style="width:130px;" class="myselect" style="margin-right:5px"><option value=""></option>@Html.Raw(appTypesOptions)</select>
            <select onclick="appidchange(this.value);" class="myselect" style="width:188px;" id="AppID" name="AppID"></select></td>
        </tr>
        <tr>
            <th style="width:80px;">相关参数：</th>
            <td><input type="text" id="Params" name="Params" value="@params1" class="mytext" style="width:75%"/></td>
        </tr>
    </table>
    <div class="buttondiv">
        <input type="button" value="添加子项" class="mybutton" onclick="window.location='AddApp'+'@Request.Url.Query';" />
        <input type="submit" value="保存" class="mybutton" name="Save" onclick="return new RoadUI.Validate().validateForm(document.forms[0]);" />
        @if (roleApp!=null && roleApp.ParentID != Guid.Empty)
        {
            <input type="submit" value="删除" class="mybutton" name="Delete" onclick="return confirm('真的要删除该角色应用及其所有下级应用吗?');" />
            <input type="button" value="排序" class="mybutton" onclick="sort();" />
        }
        
    </div>
    </form>
    <script type="text/javascript">
        $(function ()
        {
            loadApp($("#Type").val());
        });
        function appidchange(value)
        {
            var options = $("#AppID option");
            for (var i = 0; i < options.length; i++)
            {
                if (value && options.eq(i).val() == value)
                {
                    $("#Name").val(options.eq(i).text());
                }
            }
        }
        function loadApp(value)
        {
            if (!value)
            {
                return false;
            }
            $.ajax({ url: "GetApps", type: "post", data: { "type": value, "value":"@appid" }, dataType: "text", async: false, cache: false, success: function (txt)
            {
                var $appid = $("#AppID");
                $("option", $appid).remove();
                $appid.append('<option value=""></option>'+txt);
            }
            });
        }
        function sort()
        {
            window.location = "/Platform/RoleApp/Sort" + "@Request.Url.Query";
        }
    </script>