@{
    ViewBag.Title = "Index";
}
<form method="post" >
@Html.AntiForgeryToken()
<div id="test"></div>
<div class="querybar">
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
            <td>
                标题：<input type="text" class="mytext" id="Title" name="Title" value="@ViewBag.Title1" />
                分类：<select class="myselect" id="Type" name="Type"><option value="">==全部==</option>@Html.Raw(ViewBag.TypeOptions)</select>
                人员：<input type="text" user="true" dept="false" value="@ViewBag.UserID" station="false" unit="false" more="false" group="false" id="UserID" name="UserID" class="mymember" />
                发生日期：<input type="text" class="mycalendar" name="Date1" style="width:90px;" value="@ViewBag.Date1" /> 至 <input type="text" class="mycalendar" name="Date2" style="width:90px;" value="@ViewBag.Date2" />
                <input type="submit" name="Search" value="查询" class="mybutton" />
            </td>
        </tr>
    </table>
</div>
<div class="container">
    <div class="gridcontainer">
        <table class="grid" id="grid"></table>
    </div>
</div>
</form>
<script src="~/Scripts/roadui.grid.js"></script>
<script type="text/javascript">
    var appid = '@Request.QueryString["appid"]';
    var iframeid = '@Request.QueryString["tabid"]';
    var dialog = top.mainDialog;
    function detail(id)
    {
        dialog.open({ id: "window_" + appid.replaceAll('-', ''), title: "查看日志详细信息", width: 850, height: 450, url: top.rootdir + "/Log/Detail?id=" + id + '@ViewBag.Query', openerid: iframeid });
    }
    var cols = [
        { title: "标题", width: 100, lockWidth: false, align: "left" },
        { title: "分类", width: 100, lockWidth: false, align: "left" },
        { title: "发生时间", width: 100, lockWidth: false, align: "left" },
        { title: "操作员", width: 100, lockWidth: false, align: "left" },
        { title: "IP", width: 100, lockWidth: false, align: "left" },
        { title: "详细", width: 100, lockWidth: false, align: "left" }
    ];
    $(function ()
    {
        new RoadUI.Grid().init({
            table: $(".grid"),
            cols: cols,
            dataType: "url",
            dataUrl: top.rootdir + "/Log/GetData?appid=" + appid,
            uniqueIndex: 0 //标识列序号
        });


    });
</script>