@{
    ViewBag.Title = "Index";
}
@model IEnumerable<Data.Model.DBConnection>

<form method="post">
<div class="toolbar" style="margin-top:0; border-top:0;">
    <a href="javascript:void(0);" onclick="add();return false;"><span style="background-image:url(@Url.Content("~/Images/ico/folder_classic_stuffed_add.png"));">添加连接</span></a>
    <span class="toolbarsplit">&nbsp;</span>
    <input type="submit" style="display:none;" value="d" id="DeleteBut" name="DeleteBut" />
    <a href="javascript:void(0);" onclick="del();return false;"><span style="background-image:url(@Url.Content("~/Images/ico/folder_classic_stuffed_remove.png"));">删除所选</span></a>
</div>
<table cellpadding="0" cellspacing="1" border="0" class="listtable">
    <thead>
        <tr>
            <th><input type="checkbox" onclick="checkAll(this.checked);" style="vertical-align:middle;" />连接名称</th>
            <th>连接类型</th>
            <th>连接字符串</th>
            <th>备注</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var conn in Model)
    {
        <tr>
            <td><input type="checkbox" value="@conn.ID" name="checkbox_app" />@conn.Name</td>
            <td>@conn.Type</td>
            <td>@conn.ConnectionString</td>
            <td>@conn.Note</td>
            <td>
                <a class="editlink" href="javascript:edit('@conn.ID');">编辑</a>
                <a onclick="test('@conn.ID');" style="background:url(@Url.Content("~/Images/ico/hammer_screwdriver.png")) no-repeat left center; padding-left:18px; margin-left:5px;" href="javascript:void(0);">测试</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<script type="text/javascript">
    var appid = '@Request.QueryString["appid"]';
    var iframeid = '@Request.QueryString["tabid"]';
    var dialog = top.mainDialog;
    function add()
    {
        dialog.open({ id: "window_" + appid.replaceAll('-', ''), title: "添加连接", width: 700, height: 320, url: 'DBConnection/Edit?1=1' + '@ViewBag.Query1', openerid: iframeid });
    }
    function edit(id)
    {
        dialog.open({ id: "window_" + appid.replaceAll('-', ''), title: "编辑连接", width: 700, height: 320, url: 'DBConnection/Edit?id=' + id + '@ViewBag.Query1', openerid: iframeid });
    }
    function test(id)
    {
        $.ajax({
            url: "DBConnection/Test?id=" + id + "&appid=" + appid, cache: false, async: false, success: function (txt)
        {
            alert(txt);
        } 
        });
    }
    function checkAll(checked)
    {
        $("input[name='checkbox_app']").prop("checked", checked);
    }
    function del()
    {
        if ($(":checked[name='checkbox_app']").size() == 0)
        {
            alert("您没有选择要删除的项!");
            return false;
        }
        if (!confirm('您真的要删除所选连接吗?'))
        {
            return false;
        }
        $("#DeleteBut").click();
        return true;
    }
</script>
</form>